/* Modern reset */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}body{margin:0;padding:0}h1,h2,h3,h4,p,blockquote,figure,ol,ul{margin:0;padding:0}h1,h2,h3,h4,p{font-size:inherit}a{text-decoration:none;color:inherit}img{border:0}
/* Common wisdom */
* {
	box-sizing: border-box;
}
img {
	box-sizing: content-box;
	max-width: 100%;
	height: auto;
}
p:last-child {
	margin-bottom: 0;
}
/* Input elements */
input, select, textarea {

}
textarea {

}
button, input, select, textarea, .button {

}
button, input[type="button"],
input[type="submit"], .button {
	
}
button:hover, input[type="button"]:hover,
input[type="submit"]:hover, .button:hover,
button:focus, input[type="button"]:focus,
input[type="submit"]:focus, .button:focus {
	
}
button:active, input[type="button"]:active,
input[type="submit"]:active, .button:active, {
	outline: none;
}
/* Content */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1;
	overflow-y: scroll;
	color: #000;
	background: #fff;
}
h1, h2, h3, h4, h5, a, p, ul, ol {
	color: inherit;
	line-height: 1.5;
}
h1, h2, h3, h4, h5 {
	font-family: serif;
}
h1 {
	font-size: 32px;
	margin-bottom: 30px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
p {
	margin-bottom: 20px;
}
ul, ol {
	text-align: left;
	list-style-position: outside;
}
ul {
	padding-left: 20px;
}
ol {

}
ol > li {

}
ul > li {
	
}
a:link {
	text-decoration: none;
}

/* Start */
